<app-navbar></app-navbar>

<div class="page">
  <h2 style="text-align: center;">Catálogo de Productos</h2>

  <div *ngIf="loading" class="loading-state">
    <p>Cargando productos...</p>
    </div>

  <div *ngIf="error" class="error-state">
    <p>{{ error }}</p>
  </div>

  <div class="grid" *ngIf="!loading && !error">
    <div class="card" *ngFor="let p of products">
      <img [src]="p.image" [alt]="p.name" />
      <div class="info">
        <h3>{{ p.name }}</h3>
        <p class="desc">{{ p.description }}</p>
        <div class="bottom">
          <span class="price">{{ p.price | currency:'MXN' }}</span>
          <button (click)="addToCart(p)">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>
